body {
    background-color: pink;
    border: transparent;
}
    /*les styles pour la section*/
#mignon {
    /* width: 60%; */
    margin: 0 auto;
    /*margin 0 et auto sont les déclarations raccourcis pour - 
https://developer.mozilla.org/fr/docs/Web/CSS/Propri%C3%A9t%C3%A9s_raccourcies - Propriétés raccourcies
Les propriétés raccourcies sont des propriétés CSS qui permettent de définir la valeur de plusieurs propriétés via un seule déclaration. En manipulant des propriétés raccourcies, un développeur web peut créer des feuilles de style plus concises et plus lisibles, améliorant ainsi la maintenabilité - auto permet de centrer la section à droite et à gauche dans l'élément parent*/
}
.jaune {
    background-color: yellow;
    border: transparent;
}
.bleu {
<<<<<<< HEAD
    background-color: rgb(46, 12, 238);
}
.blanc {
    background-color: white;
=======
    background-color: rgb(56, 7, 233);
>>>>>>> 7cd648d3c07ba7e3cd19c8f375ced13e64f05348
}
.noir {
    background-color: black;
}
.gris {
    background-color: grey;
}
/*les styles pour le tableau*/
table {
    /* border-collapse: collapse; */
    border-collapse: collapse;
    background-color: white;
}
td {
    width: 4em;
    height: 4em;
<<<<<<< HEAD
}
/* tr {
    display:none;
} */
td :first-child {
    background-color: white;
}
tr {
    border: transparent;
    /* background-color: white; */
}
=======
    /* border: 1px solid black;
} */
>>>>>>> 7cd648d3c07ba7e3cd19c8f375ced13e64f05348
