body {
    background-color: rgb(189, 214, 164);
}
#mignon {
    margin: 0 auto;
}
table {
    /* border-collapse: collapse; */
    border-collapse: collapse;
    background-color: white;
}
td {
    width: 4em;
    height: 4em;
}
.black{
    background-color: #0a080a;
}
.brown{
    background-color: rgba(78, 23, 23, 0.733);
}
.light_brown{
    background-color: rgb(94, 88, 88);
}
.skin{
    background-color: #F4E5B2;
}
.pink{
    background-color: rgba(218, 136, 190, 0.877);
}
.darker_green{
    background-color: #004B35;
}
.dark_green{
    background-color: #007C59;
}
.green{
    background-color: #00956B;
}
.light_green{
    background-color: #00C78E;
}
.yellow{
    background-color: #FFC300;
}
.cream{
    background-color: #FFE180;
}
.light_cream{
    background-color: #FFF8DF;
}
.darker_blue{
    background-color: #0065BF;
}
.dark_blue{
    background-color: #0086FF;
}
.blue{
    background-color: #60B3FF;
}
.light_blue{
    background-color: #0FD2FF;
}
.lighter_blue{
    background-color: #DFF0FF;
}