body {
    background-color: pink;
    border: transparent;
}
.jaune {
    background-color: yellow;
    border: transparent;
}
.bleu {
    background-color: rgb(46, 12, 238);
}
.blanc {
    background-color: white;
}
.noir {
    background-color: black;
}
.gris {
    background-color: grey;
}
td {
    width: 4em;
    height: 4em;
}
/* tr {
    display:none;
} */
td :first-child {
    background-color: white;
}
tr {
    border: transparent;
    /* background-color: white; */
}